@using Core.Domain;
@model OverviewViewModel

@{
    ViewData["Title"] = "Overview MealPackages";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div class="text-center">
        <h1>@ViewData["Title"]</h1>
        @if (User.IsInRole("student"))
        {
            @if (!string.IsNullOrEmpty(ViewBag.CustomError as string))
            {
                <div class="alert alert-danger text-center">
                    @ViewBag.CustomError
                </div>
            }
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>price</th>
                        <th>City</th>
                        <th>Canteen</th>
                        <th>PickUpDate</th>
                        <th>ExpireDate</th>
                        <th>MealType</th>
                        <th>18+</th>
                        <th>Details</th>
                        <th>Reserve</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var mealPackage in Model.StudentMealPackages)
                    {
                        <tr>
                            <td>@mealPackage.Name</td>
                            <td>@string.Format("{0:C}", mealPackage.Price)</td>
                            <td>@mealPackage.City</td>
                            <td>
                                @if (mealPackage.Canteen != null)
                                {
                                    @mealPackage.Canteen.CanteenName
                                }
                            </td>
                            <td>@mealPackage.PickUpDateTime</td>
                            <td>@mealPackage.ExpireDateTime</td>
                            <td>@mealPackage.MealType</td>
                            <td>@mealPackage.AdultsOnly</td>
                            <td>
                                <a asp-controller="MealPackage" asp-action="MealPackageDetails" asp-route-id="@mealPackage.Id" class="btn btn-primary">Details</a>
                            </td>
                            <td>
                                <form method="post" asp-controller="MealPackage" asp-action="ReserveMealPackage" asp-route-mealPackageId="@mealPackage.Id" asp-route-studentId="@ViewBag.StudentId">
                                    <button type="submit" class="btn btn-primary">Reserve</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        @if (User.IsInRole("employee"))
        {
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>price</th>
                        <th>City</th>
                        <th>Canteen</th>
                        <th>PickUpDate</th>
                        <th>ExpireDate</th>
                        <th>MealType</th>
                        <th>18+</th>
                        <th>Details</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var mealPackage in Model.CanteenMealPackages)
                    {
                        <tr>
                            <td>@mealPackage.Name</td>
                            <td>@string.Format("{0:C}", mealPackage.Price)</td>
                            <td>@mealPackage.City</td>
                            <td>
                                @if (mealPackage.Canteen != null)
                                {
                                    @mealPackage.Canteen.CanteenName
                                }
                            </td>
                            <td>@mealPackage.PickUpDateTime</td>
                            <td>@mealPackage.ExpireDateTime</td>
                            <td>@mealPackage.MealType</td>
                            <td>@mealPackage.AdultsOnly</td>
                            <td>
                                <a asp-controller="MealPackage" asp-action="MealPackageDetails" asp-route-id="@mealPackage.Id" class="btn btn-primary">Details</a>
                            </td>
                            <td>
                                <a asp-controller="MealPackage" asp-action="EditMealPackage" asp-route-id="@mealPackage.Id" class="btn btn-primary">Edit</a>
                            </td>
                            <td>
                                <form method="post" action="@Url.Action("DeleteMealPackage", "mealPackage", new {    Id=mealPackage.Id    })">
                                    @Html.Hidden("Id", mealPackage.Id)
                                    <button type="submit" class="btn btn-primary">Delete</button>
                                </form>
                        </tr>
                    }
                </tbody>
            </table>
            <h1>Other Canteens</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>price</th>
                        <th>City</th>
                        <th>Canteen</th>
                        <th>PickUpDate</th>
                        <th>ExpireDate</th>
                        <th>MealType</th>
                        <th>18+</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var mealPackage in Model.OtherCanteenMealPackages)
                    {
                        <tr>
                            <td>@mealPackage.Name</td>
                            <td>@string.Format("{0:C}", mealPackage.Price)</td>
                                <td>@mealPackage.City</td>
                            <td>
                                @if (mealPackage.Canteen != null)
                                {
                                    @mealPackage.Canteen.CanteenName
                                }
                            </td>
                            <td>@mealPackage.PickUpDateTime</td>
                            <td>@mealPackage.ExpireDateTime</td>
                            <td>@mealPackage.MealType</td>
                            <td>@mealPackage.AdultsOnly</td>
                            <td>
                                <a asp-controller="MealPackage" asp-action="MealPackageDetails" asp-route-id="@mealPackage.Id" class="btn btn-primary">Details</a>
                            </td>                           
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</body>
</html>