@using Core.Domain;
@model List<MealPackage>

@{
    ViewData["Title"] = "Overview MealPackages";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div class="text-center">
        <h1>@ViewData["Title"]</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>City</th>
                    <th>Canteen</th>
                    <th>Price</th>
                    <th>MealType</th>
                    <th>18+</th>
                    <th>PickUpDateTime</th>
                    <th>ExpireDateTime</th> 
                    <th>Reserved</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var mealPackage in Model)
                {
                    <tr>
                        <td>@mealPackage.Name</td>
                        <td>@mealPackage.Canteen.City</td>
                        <td>@mealPackage.Canteen.CanteenName</td> 
                        <td>@string.Format("{0:C}", mealPackage.Price)</td>
                        <td>@mealPackage.MealType</td>
                        <td>@mealPackage.AdultsOnly</td>
                        <td>@mealPackage.PickUpDateTime.ToString("dd-MM-yyyy HH:mm")</td>
                        <td>@mealPackage.ExpireDateTime.ToString("dd-MM-yyyy HH:mm")</td>
                        <td>@mealPackage.ReservedByStudent</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</body>
</html>